.header {
  position: absolute;
  z-index: 1;
  top: 0;

  width: 100%;

  background-color: transparent;

  &__content {
    display: flex;
    gap: 88px;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    padding-top: 9px;

    @include on-tablet {
      gap: 60vw;
      height: 72px;
      padding-top: 15px;
    }
  }
}
