.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  margin-bottom: 50px;
  padding-block: 88px;

  color: #fff;
  text-align: center;

  background-image: url(/src/images/subscription-block-bg.svg);

  &__description {
    margin-bottom: 50px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    overflow-wrap: anywhere;
  }

  &__form {
    display: flex;

    width: $button-input-width-mobile;
    height: $button-input-height-mobile;
    margin: 0 auto;

    text-decoration: none;

    @include on-tablet {
      gap: 16px;
    }

    &--input {
      width: 230px;
      padding-left: 24px;
      border: none;

      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 100%;

      background-color: #fff;
      outline: none;
    }

    &--button {
      width: 50px;
      border: none;
      background-color: $bg-input-arrows-subscription;
    }
  }
}
