$bg-aside-color: #1a5a4c;
$bg-input-arrows-subscription: #f14a27;
$color-label: #e0e0e0;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$info-description-fw: 500;
$info-date-fw: 700;
$main-font-size: 16px;
$button-input-height-mobile: 50px;
$button-input-height-tablet: 70px;
$button-input-width-mobile: 280px;
$button-input-width-tablet: 270px;
$footer-color-text: #0f0e08;
